<div class="header-container">
    <div class="header-element phone-container">
        <div class="phone-icon">
            <i class="fa fa-phone fa-fw fa-1x"></i>
        </div>
        <div class="phone-number">
            <a class="phone-number-ref" href="tel:+7 812 454-50-50">
                +7(812)454-50-50
            </a>
        </div>
    </div>
    <div class="header-element working-time-container">
        Пн-Пт 9.00-20.00Сб-Вс 10.00-19.00
    </div>
    <div class="header-element geo-container">
        <geolocation></geolocation>
    </div>
    <div class="store-header-info header-element">
        <info-button 
            label="О магазине"
            link="about">
        </info-button>
        <info-button
            label="Оплата"
            link="payment">
        </info-button>
        <info-button
            label="Доставка"
            link="delivery">
        </info-button>
        <info-button
            label="Контакты"
            link="contacts">
        </info-button>
    </div>
</div>