.header-container {
    height: 43px;
    background-color: #333a42;
    white-space: nowrap;
    padding-left: 100px;
    padding-right: 100px;
}

.header-element {
    display: inline-block;
    max-height: 43px;
    color: #fff;
    overflow: hidden;
    margin-top: 12px;
}

.phone-container div {
    float: left;
}

.store-header-info {
    float: right;
}

.store-header-info div {
    display: inline-block;
}