<div class="banner-container">
    <figure>
        <img src="/images/banner.jpg" class="banner" />
        <figcaption>
            Товары
            <br />
            <b>для дома</b>
            <br />
            <round-button color="#47cede"
                          text="Перейти в раздел"
                          link="main-page">
            </round-button>
        </figcaption>
    </figure>
</div>
<div class="showcase-container">
    <showcase></showcase>
</div>
<sections></sections>
<recommendations></recommendations>