<div class="about-info-container">
    <div class="about-info-element">
        <figure>
            <img src="/about.png" />
        </figure>
    </div>
    <div class="about-info-element">
        <article>
            <p>
                Мы работаем без выходных. Звоните с 9.00 до 20.00 ежедневно и задавайте вопросы. 
                Если вы уже заказали товар, то всегда можете уточнить о статусе вашего заказа у наших сотрудников. 
                Большинство покупателей рекомендуют нас своим друзьям и знакомым за большой ассортимент и низкие цены.
            </p> 
            <p>
                Юридические данные:
            </p>
            <p>
                ИП "Воронина Галина Игоревна"
            </p>
            <p>
                ОГРНИП: 313784714900194
            </p>
            <p>
                ИНН 782064945604
            </p>
                Юридически адрес: 196626, Санкт-Петербург г, Шушары п, Школьная ул, дом № 18
                р/с 40802810355100000955
                к/с 30101810500000000653
                БИК 044030653
                в банке СЕВЕРО-ЗАПАДНЫЙ БАНК ОАО "СБЕРБАНК РОССИИ"
            </article>
    </div>
</div>