<div class="header-container">
    <div class="header-element phone-container">
        <div class="phone-icon">
            <i class="fa fa-phone fa-fw fa-2x"></i>
        </div>
        <div class="phone-number">
            <a class="phone-number-ref" href="tel:+7 812 454-50-50">
                +7(812)454-50-50
            </a>
        </div>
    </div>
    <div class="header-element working-time-container">

    </div>
    <div class="header-element geo-container">
        Тут будет город
    </div>
    <div class="header-element about-container">
        <a href="about">О магазине</a>
    </div>
    <div class="header-element payment-container">
        Оплата
    </div>
    <div class="header-element delivery-container">
        Доставка
    </div>
    <div class="header-element contacts-container">
        Контакты
    </div>
</div>