<div [ngSwitch]="orderStage">
    <div *ngSwitchCase="OrderStage.Contacts">
        <contacts-form 
            [submitSubject]="submitSubject" 
            (formValidated)="Next()">
        </contacts-form>
    </div>
    <div *ngSwitchCase="OrderStage.Delivery">
        <delivery-form
           [submitSubject]="submitSubject"
           (formValidated)="Next()">
        </delivery-form>
    </div>
    <div *ngSwitchCase="OrderStage.Payment">
        <payment-form
            [submitSubject]="submitSubject"
            (formValidated)="Next()">
        </payment-form>
    </div>
</div>
<div>
    <input type="button" value="Назад" />
    <input type="submit" value="Продолжить" (click)="Submit()" />
</div>